
body {
  background-color: lightblue;
  font-family: monospace;
}

.hero-title {
  align-content: justify;
  font-family: monospace;
  padding: 5px;
}

.point-title {
  align: justify;
  padding: 5px;
}

.point-description {
  align: justify;
  padding: 5px;
}
